body {
    background: #fcfcfc
}

div.borderdiv {
    width: 525px;
    padding: 5px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
    /*color: red;*/
    /*margin-bottom: 20px;*/
    background-color: #f7fbfa;
}

img.minSize {
    width: 20%;
    height:30%
    
}

.maxSize {
    height: 55%;
    width: 45%;
    float: left;
    margin: 2%;
}

.mainDivSlider {
    height: 90%
}

.divCar {
    height: 40%;
    width: 37%;
    float: left;
    margin: 2%;
}

.divForm {
    border: 1px solid black;
    border-radius: 5px;
    padding:15px;
    margin:25px;
    height:auto;
    width:auto;
}
