
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
    
</head>
<body>
    <div id="zatemnenie">
        <div id="okno">
        Всплывающее окошко!<br>
        <a href="#" class="close">Закрыть окно</a>
    </div>
    </div>

    
</body>
</html>
